@import url("style.css");

#contact_modal {
  display: none;
}

.photographer-card {
  max-width: unset;
  display: flex;
  flex-direction: row-reverse;
  flex: 0 0 100%;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 35px 35px 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.close__modal {
  cursor: pointer;
  font-size: 2rem;
  color: white;
  font-size: 3rem;
  background-color: transparent;
  border: none;
}

.contact {
  font-size: 36px;
  font-weight: normal;
  text-align: left;
  margin: 0;
  max-width: 80%;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

.modal_form > div {
  margin: 0;
}

form input {
  width: 100%;
  height: 3em;
  border: none;
  border-radius: 5px;
}

form textarea {
  width: 100%;
  min-height: 6em;
}

.photograph-header {
  background-color: #fafafa;
  min-height: 300px;
  margin: 0 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
}

@media (max-width: 400px) {
  .photograph-header {
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    margin: 0 10px;
    gap: 20px;
  }
}

.photographer-profile-info {
  padding: 40px;
}

.location, .tagline {
  text-align: left;
}

.media-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 100px 0 100px;
}

@media (max-width: 400px) {
  .media-section {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
}

.media {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.media-img {
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 5px;
  object-fit: cover;
}

.photo-title .likes {
  border: none;
  background: none;
  color: #901c1c;
  cursor: pointer;
}

.profile {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.photo-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  color: #901c1c;
}

@media (max-width: 400px) {
  .photo-title {
    gap: 20px;
  }

  .likes {
    min-width: fit-content;
  }
}

.number-likes, .total-likes {
  margin-right: 10px;
}

.error_alert {
  color: #901c1c;
  font-size: 20px;
  margin-top: 8px;
  display: none;
}

.test {
  width: 300px;
  height: 40px;
}

.label {
  font-size: 22px;
}

/** Form **/

.modal-btn {
  position: absolute;
  top: 50px;
  overflow: auto;
  text-align: center;
}

.bground {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(128, 128, 128, 0.4);
  text-align: center;
}

.modal_bg {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.modal_bg .bg {
  display: flex;
  width: 100%;
}

/** Lightbox **/

.lightbox {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background-color: white;
}

.lightbox__windows {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 5%;
  margin: 0 auto;
  width: 80%;
  height: 90%;
  overflow: hidden;
}

.lightbox_right, .lightbox_left, .close {
  cursor: pointer;
  color: #ad1025;
  border: none;
  background: none;
  font-size: 2.5rem;
}

.lightbox__windows .close {
  position: absolute;
  top: 0;
  right: 0;
}

.lightbox__windows .lightbox_left {
  position: absolute;
  top: 50%;
  left: 0;
}

.lightbox__windows .lightbox_right {
  position: absolute;
  top: 50%;
  right: 0;
}

.lightbox_images {
  display: flex;
  overflow: hidden;
}

.lightbox-img-container {
  width: 90%;
  margin: 0 auto;
}

.lightbox-img-container h2 {
  color: #d3573c;
}

.lightbox_img {
  width: 100%;
  max-width: 100%;
  max-height: 90%;
  object-fit: contain;
}

/** Filter **/

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin: 48px 100px 0 100px;
  font-weight: 500;
  min-height: 56px;
  gap: 32px;
}

@media (max-width: 400px) {
  .filter {
    flex-direction: column;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

.filter label {
  font-size: 22px;
}

.filter__menu {
  position: relative;
}

.filter__select {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  height: 56px;
  color: white;
  line-height: 55px;
  background: #901c1c;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  object-fit: cover;
  padding: 0 20px;
  border: none;
  min-width: 180px;
}

.filter__arrow {
  color: white;
}

.filter__select__option {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  font-weight: bold;
  background: #901c1c;
  color: white;
  border-radius: 10px ;
  text-align: center;
  justify-content: center;
  z-index: 1;
  width: 224px;
  top: -28px;
}

@media (max-width: 400px) {
  .filter__select__option {
    top: 0;
    transform: translateX(-50%);
  }
}

.select__option {
  display: flex;
  font-size: 22px;
  margin: 0 20px;
  align-items: center;
  border: none;
  height: 56px;
  cursor: pointer;
  background-color: #901c1c;
  color: white;
  width: 80%;
}

.select__option:not(:first-child) {
  border-top: 1px white solid;
}

.selected__option {
  display: flex;
  justify-content: space-between;
}

.selected__option label {
  cursor: pointer;
}

.select__option:not(:last-child) {
  border-bottom: 1px solid white;
}

.arrow {
  position: relative;
  height: 16px;
  width: 16px;
}

.confirmation__title {
  display: none;
}

.photographer-info-container {
  position: sticky;
  bottom: 0;
  float: right;
  margin-right: 40px;
  width: 200px;
  background-color: #db8876;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #000000;
}

@media (max-width: 400px) {
  .photographer-info-container {
    float: unset;
    margin: 0 auto;
  }
}
