#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
    width: 16px;
}

.modal header h2 {
    font-size: 36px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}


.photograph-header {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
flex-wrap: wrap;

}

.media-section {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-top: 100px;
}

.media {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    margin: 50px;
}

.media-img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.profile {
    width: 200px ;
    height: 200px;
    object-fit: cover;
}

.photo-title {
    display: block;
    position: relative;
}

.error_alert {
    color: #901C1C;
    font-size: 20px;
    margin-top: 8px;
    display: none;
}

.test {
    width: 300px;
    height: 40px;
}

.label {
    font-size: 22px;
}

/** Form **/

.modal-btn {
    position: absolute;
    top: 50px;
    width:400px;
    overflow: auto;
    text-align: center;
}

.bground {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(128, 128, 128, 0.4);
    text-align: center;
}

.modal_bg {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;

}

/** Lightbox **/

/** Filter **/

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: 48px;
    margin-top: 48px;
    font-weight: 500;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.filter h3 {
    margin-right: 32px;
    font-size: 22px;
}

.filter__menu {
    width: 224px;
}

.filter__select {
    position: relative;
    display: flex;
    flex-direction: column;
}

.filter__select__menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 32px;
    font-size: 22px;
    height: 64px;
    color: white;
    line-height: 100px;
    background: #901C1C;
    font-weight: 300;
    cursor: pointer;
    border-radius: 10px;
}

.filter__option {
    position: relative;
    display: block;
    margin: 0 32px 0;
    font-weight: 400;
    color: white;
    line-height: 88px;
    cursor: pointer;
    font-size: 22px;
}

.filter__option__container {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    background: #901C1C;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.arrow {
    position: relative;
    height: 16px;
    width: 16px;
}

.fa-angle-down {
    font-size: 24px;
    color: black;
}

.confirmation__title {
    display: none;
}